<style>
  .signup {
    text-decoration: none;
  }
  .password-container {
    position: relative;
    width: 100%;
  }
  .password-container input {
    width: 100%;
    padding-right: 30px; /* To prevent text from overlapping with the eye icon */
  }
  .password-container .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
</style>

<%- include('navbar') %>
<div
  class="container-fluid login-form-container d-flex align-items-center justify-content-center"
>
  <div class="login-box">
    <h1>Login / Signup</h1>
    <form action="/login" method="POST" class="d-flex flex-column gap-3 w-75">
      <input
        type="email"
        placeholder="Enter email"
        name="email"
        required
        class="form-control"
      />
      <div class="password-container">
        <input
          id="password"
          type="password"
          placeholder="Enter password"
          name="password"
          required
          class="form-control"
        />
        <i class="fas fa-eye eye-icon" id="togglePassword"></i>
      </div>

      <p class="text-danger fw-bolder">
        <%= locals.errorMessage?errorMessage:"" %>
      </p>
      <button type="submit" class="btn btn-primary">Log In</button>
      <button type="submit" class="btn btn-primary">
        <a href="/signup" class="signup text-white">Sign Up</a>
      </button>
    </form>

    <p>
      <a href="/forget" class="text-white">Forget Password?</a>
    </p>
  </div>
</div>
<script>
  const PasswordIs = document.getElementById("password");
  const eyeIcon = document.getElementById("togglePassword");

  eyeIcon.addEventListener("mousedown", () => {
    PasswordIs.type = "text";
    eyeIcon.classList.remove("fa-eye");
    eyeIcon.classList.add("fa-eye-slash");
  });

  eyeIcon.addEventListener("mouseup", () => {
    PasswordIs.type = "password";
    eyeIcon.classList.remove("fa-eye-slash");
    eyeIcon.classList.add("fa-eye");
  });
  eyeIcon.addEventListener("mouseleave", () => {
    PasswordIs.type = "password";
    eyeIcon.classList.remove("fa-eye-slash");
    eyeIcon.classList.add("fa-eye");
  });
</script>
