
<style>
  .adminbutton a {
      color: inherit; 
      text-decoration: none;
  }
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>Hello</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
     
        <form class="d-flex ms-auto">
         
          <button class="btn btn-outline-secondary adminbutton" type="submit">
            <a href="/admin">Admin Page</a>
          </button>
        </form>
      </div>
    </div>
  </nav>
  <%- include('alert') %>

  